<a href="https://colab.research.google.com/github/jmrosarosa/KSchoolMDS/blob/main/%5BKschool_NB006%5DPython_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Kschool NB006]Python_Tuplas
* Objetivos: 
    - Conocer los sets y su diferencia con las listas
    - Entender como integrar y modificar la información

<img src="https://media.istockphoto.com/id/1024173328/vector/challenge-accepted-banner.jpg?s=612x612&w=0&k=20&c=HkpbXPIxSoS0zZIB36AdXz8u3TE2peAC0_s1jNTCKTc=" alt="Challenge Accepted" style="width: 300px">

---
---
---

# **Tuplas**
---

Las ``tuplas`` en Python son un tipo o estructura de datos que permite almacenar datos de una manera muy parecida a las listas, con la salvedad de que son **inmutables**.

Una tupla almacena datos heterogéneos, es decir, datos de distintos tipos. Una tupla se utiliza para agrupar datos relacionados, como el **nombre**, la **altura**, el **peso**, la raza y el **color** de un perro. 
Una tupla comprende varios valores separados por ``comas``.

Las tuplas en Python o `tuples()` son muy similares a las listas, pero con dos diferencias.
1. Son inmutables, lo que significa que no pueden ser modificadas una vez declaradas
2. en vez de inicializarse con corchetes se hace con (). 

Dependiendo de lo que queramos hacer, las tuplas pueden ser más rápidas.

In [ ]:
tupla = (1, 2, 3)
print(tupla)

(1, 2, 3)

In [ ]:
# Crear una tupla y almacenar los valores
tupla = ("Hoy", "La", "Fecha", "Es", 1, "Abril", 2023)
print(tupla)

('Hoy', 'La', 'Fecha', 'Es', 1, 'Abril', 2023)

También pueden declararse sin (), separando por `,` todos sus elementos.

In [ ]:
tupla = 1, 2, 3
print(type(tupla))
print(tupla)

<class 'tuple'>
(1, 2, 3)

Se puede acceder a los valores de las tuplas por su índice para obtener el valor. Para ello, basta con colocar el número (valor del índice) dentro del par de corchetes junto con el nombre de la tupla.

In [ ]:
# Acceder a los valores de una tupla
print(tupla[2])

3

Si el índice es mayor que el tamaño de la tupla, se genera un error.

In [ ]:
print(tupla[5])

IndexError: tuple index out of range

También podemos acceder a los valores de una tupla de forma inversa, empezando por el último elemento, donde -1 sería el último elemento y -2 el penúltimo y así....

In [ ]:
tupla[-2]

2

Para anidar dos o más tuplas, basta con colocar la tupla antigua junto a la tupla recién creada, separadas por una coma.

In [ ]:
# Anidar dos tuplas como una tupla
tupla1 = ("Y", "Hoy", "Es", "jueves")
print(tupla1)

('Y', 'Hoy', 'Es', 'jueves')

In [ ]:
nest = tupla, tupla1
print(nest)

(('Hoy', 'La', 'Fecha', 'Es', 1, 'Abril', 2023), ('Y', 'Hoy', 'Es', 'jueves'))

Como hemos comentado, las tuplas son tipos inmutables, lo que significa que una vez asignado su valor, no puede ser modificado. Si se intenta, tendremos un TypeError.

In [ ]:
print(tupla[0])

1

In [ ]:
# Cambiar el valor del índice 0 a "Hola"
tupla[0] = ("Hola")
print(tupla)

TypeError: 'tuple' object does not support item assignment

Podemos convertir una **lista en tupla** haciendo uso de al función `tuple()`

In [ ]:
nombres = ["Alberto", "Antonio", "Ana", "Maria"]
tupla = tuple(nombres)
print(type(tupla))
print(tupla)

<class 'tuple'>
('Alberto', 'Antonio', 'Ana', 'Maria')

De la misma forma que se hacía con las listas, se puede iterar una tupla con un bucle for

In [ ]:
tupla = ("Hoy", "La", "Fecha", "Es", 1, "Abril", 2023)
for i in tupla:
    print(i)

Hoy
La
Fecha
Es
1
Abril
2023

Podemos acceder al índice de la tupla mediante un bucle for con una función `enumerate`. **enumerate** es una función incorporada de Python. 
Nos permite hacer un bucle sobre algo y tener un contador automático.

In [ ]:
for counter, value in enumerate(tupla):
    print(counter, value)

0 1
1 2
2 3

También se pueden contar el número de veces que han aparecido los valores en la tupla con `count()`.

In [ ]:
print(tupla.count("Es"))

1

In [ ]:
print(tupla.count(2))

0

#### Index
---

El método `index()` busca el objeto que se le pasa como parámetro y devuelve el índice en el que se ha encontrado.

In [ ]:
tupla.index("Abril")

5

El método `index()` también acepta un segundo parámetro opcional, que indica a partir de que índice empezar a buscar el objeto.

In [ ]:
l = [7, 7, 7, 3, 5]
print(l.index(7, 2))

2

### **Notas importantes**

Cuando decimos que las tuplas son inmutables, muchos programadores de Python piensan que los valores dentro de una tupla no pueden cambiar. Pero esto no es cierto.

La inmutabilidad de una tupla se limita únicamente a la identidad de los objetos que contiene, no a su valor.

En otras palabras, supongamos que una tupla tiene dos objetos con ID 1 y 2. La inmutabilidad dice que esta colección de IDs (y su orden) no puede cambiar nunca.

Sin embargo, NO existe la restricción de que los objetos individuales con ID 1 y 2 no puedan modificarse.

Esto explica la siguiente demostración. Como 𝐚𝐩𝐩𝐞𝐧𝐝 es una operación inplace, los IDs referenciados dentro de la tupla no cambiaron. 
Por tanto, Python no genera ningún error.

Podemos verlo en el siguiente ejemplo.

In [ ]:
tupla = (1, [2,3])
print(tupla)

tupla[1].append(4)
print(tupla)

(1, [2, 3])
(1, [2, 3, 4])

<h1>¡¡¡Lets Code!!! </h1>
<img src="https://gifdb.com/images/thumbnail/pixel-art-super-mario-computer-amwdq1xi8bgz0omx.gif" alt="Challenge Accepted" style="width: 500px">

#### **Enunciado Ejercicio 1**::
Ordenar una lista de tuplas que representen estudiantes y sus calificaciones de menor a mayor.

**estudiantes** = [("Isabel", 9), ("Ana", 8.5), ("Juan", 9.2), ("María", 7)]

#### **Solución Ejercicio 1**::

In [ ]:
estudiantes = [("Isabel", 9), ("Ana", 8.5), ("Juan", 9.2), ("María", 7)]

for i in range(len(estudiantes)):
    for j in range(len(estudiantes) - 1):
        if estudiantes[j][1] > estudiantes[j + 1][1]:
            estudiantes[j], estudiantes[j + 1] = estudiantes[j + 1], estudiantes[j]

print("Estudiantes ordenados por calificación:", estudiantes)