<a href="https://colab.research.google.com/github/jmrosarosa/KSchoolMDS/blob/main/Copy_of_%5BKschool_NB005%5DPython_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Kschool NB005]Python_Listas
* Objetivos:
    - Entender que son las listas en python
    - Trabajar con las listas integrando información y explotarlas a través de sus métodos

<img src="https://media.istockphoto.com/id/1024173328/vector/challenge-accepted-banner.jpg?s=612x612&w=0&k=20&c=HkpbXPIxSoS0zZIB36AdXz8u3TE2peAC0_s1jNTCKTc=" alt="Challenge Accepted" style="width: 300px">

---
---
---

# **Listas**
---

Las listas son un tipo de datos en Python que te permiten almacenar a su vez cualquier tipo de datos.
Son `dinámicas` y `mutables`, que es la principal distinción entre los `conjuntos (sets)` y las `tuplas`, que veremos más tarde.

Las listas es una estructura de datos en Python que actúa como contenedor para guardar o almacenar varios datos a la vez.
Las listas son modificables como hemos indicado arriba y una secuencia ordenada de elementos que permiten almacenar un conjunto arbitrario de datos.

Si vienes de otros lenguajes de programación, se podría decir que son similares a los **arrays**.

Una cosa que debes tener en cuenta es que a menudo debemos declarar las listas utilizando corchetes `[]`. Los elementos dentro de los **[]** son los valores de la lista.

In [ ]:
# Crear una lista vacía llamada "num"
num = []

# Añadiendo los valores dentro de la lista
num = [1, 2, 3, 4, 5]

# Imprimir la lista
num

[1, 2, 3, 4, 5]

También se puede crear usando `list` y pasando un objeto iterable.

In [ ]:
lista = list("12345")
lista

['1', '2', '3', '4', '5']

Aquí el nombre de la lista es ***num*** y los valores de la lista son **1, 2, 3, 4, 5**.
Las ventajas de las listas son que no es necesario que los valores de su interior tengan el mismo significado de tipo, es decir, **pueden almacenar tipos de datos distintos**.

In [ ]:
# Añadir los valores independientemente de su tipo de datos: Entero, Cadena, Flotante.
num = [1, 2, 3, "Kschool", 4.0, 4/2]
num

[1, 2, 3, 'Kschool', 4.0, 2.0]

Para comprobar si la variable es una lista o no, utiliza el método `type` como se indica a continuación:

In [ ]:
# Crea una lista como num
num = [1, 2, 3, 4, 5]

# Utiliza el método type pasando el nombre de la lista como argumento
type(num)

list

#### Algunas propiedades de las listas:

* Están ordenadas y siguen el orden definido.
* Pueden crearse utilizando tipos arbitrarios.
* Se pueden indexar utilizando [i].
* Se pueden animar, es decir, colocar una dentro de otra.
* Son variables porque sus partes constituyentes son modificables.
* Son dinámicos porque es posible añadir o eliminar elementos.

## Creación, acceso y cálculo de la longitud de una lista.
---

Creemos una lista llamada **name** e introduzcamos algunos valores, después podemos acceder a los elementos dentro de la lista utilizando el índice con la ayuda de [] colocando los valores del índice en su interior.

A continuación podemos calcular la longitud de la lista utilizando el método `len( )`, basta con pasar el nombre de la lista como argumento al método len, finalmente también podemos obtener la longitud de los elementos individuales dentro de la lista utilizando el mismo método len pero esta vez debemos especificar la posición del índice como argumento.

<img src="https://raw.githubusercontent.com/0xdevgranero/kschool/main/images/img1.png" alt="Drawing" style="width: 800px"/>

In [ ]:
# Crear una lista llamada nombre
name = ["Alberto", "Sara", "Juan"]
name

['Alberto', 'Sara', 'Juan']

In [ ]:
# Acceder a los elementos de la lista
name[0]

'Alberto'

In [ ]:
# Calcula la longitud de la lista.
len(name)

3

In [ ]:
# Calcular la longitud de los elementos individuales de una lista
len(name[0]) # la longitud de "Alberto" es 7

7

## Operador de asignación en listas
---

La asignación con un `=` en listas no hace una copia. En su lugar, la asignación hace que las dos variables apunten a la única lista de la memoria. 
A veces se puede utilizar un operador de asignación para copiar de una lista a otra.

In [ ]:
# Crear una lista llamada nombre
name = ["Antonio", "María", "Laura"]
name

['Antonio', 'María', 'Laura']

In [ ]:
# Crear una lista vacía nombres
names = []
names

[]

In [ ]:
# Usar el operador de asignación en Listas no crea una copia.
names = name
names

['Antonio', 'María', 'Laura']

## Añadir dos listas como una sola
---

Normalmente, para añadir dos listas se utiliza el método `append()`, pero también se puede hacer utilizando un `+` (aquí + **NO** significa adición), mientras que + se puede utilizar para añadir o fusionar dos listas en una sola, como se muestra a continuación.

In [ ]:
# Crear una nueva lista llamada Coches
coches = ["Mercedes", "BMW", "Audi"]
coches

['Mercedes', 'BMW', 'Audi']

In [ ]:
# Crear una nueva lista llamada motos
motos = ["Honda", "Yamaha", "Aprilia"]
motos

['Honda', 'Yamaha', 'Aprilia']

In [ ]:
# Añadiendo ambas listas
union_cochesmotos = coches + motos
union_cochesmotos

['Mercedes', 'BMW', 'Audi', 'Honda', 'Yamaha', 'Aprilia']

## Utilizar FOR e IN en listas
----

En Python los `for` e `in` se llaman construcciones, estas construcciones son fáciles de usar, se utilizan siempre que necesites iterar sobre una lista.

In [ ]:
# Crear una lista
num = [1, 2, 3, 4, 5]
# Asignar la suma a 0
suma = 0

# Usando un bucle for para iterar sobre la lista
for i in num:
    suma = suma + i
print(suma) # 15

15

### Utilizar IF e IN en listas
Las construcciones `if` e `in` por sí solas son una forma sencilla de comprobar si un elemento aparece en una lista (u otra colección), comprueba si el valor está en la colección, devolviendo `True`/`False`. Esto también funciona para las cadenas de caracteres en Python.

In [ ]:
# Crear una lista
num = [1, 2, 3, 4, 5]
if 1 in num:
    print("True")
else:
    print("False")

True

## Función Range
---

La función `range()` en Python se utiliza como límite en las construcciones de bucle, la función rango empieza de 0 a n-1, no incluye el último número como se muestra a continuación.

In [ ]:
# El rango empieza de 0 a n-1
for i in num:
    print(i)

1
2
3
4
5

## Métodos
---

A continuación se muestran algunos de los métodos de lista más comunes con un ejemplo.

#### Append

El método `append()` sólo añade un elemento a la lista, pero nunca devuelve nada, sólo añade el elemento a la lista existente. `append(<obj>)`

In [ ]:
# Crear una nueva lista llamada name
name = ['Alberto', 'LAra']
name

['Alberto', 'LAra']

In [ ]:
# Utilizando la operación append en la corriente ("Pablo") es el valor que hay que añadir.
name.append("Pablo")
name

['Alberto', 'LAra', 'Pablo']

#### Insert

La operación `insert()` se utiliza para insertar los elementos dentro de una lista con una posición de índice especificada. `insert(<index>, <obj>)`

In [ ]:
# Crear una nueva lista llamada lista
name = ['Juan', 'Luis']
name

['Juan', 'Luis']

In [ ]:
# Operación de inserción en la lista existente, aquí la posición del índice es 2.
name.insert(1, "Antonio")
name

['Juan', 'Antonio', 'Luis']

#### Extend

El método `extend` añade los elementos al final de la nueva lista. Es similar a append, pero tienes que pasar la lista como argumento, mientras que en append no es necesariamente así. `extend(<iterable>)`

In [ ]:
# Crear una nueva lista llamada name
name = ['Alberto', 'María']
name

['Alberto', 'María']

In [ ]:
# Usando extender pero asegúrate de poner los elementos en un []
# Sin []
name.extend("Juan")
name

['Alberto', 'María', 'J', 'u', 'a', 'n']

In [ ]:
# Después
name.extend(["Laura"])
name

['Alberto', 'María', 'J', 'u', 'a', 'n', 'Laura', 'Laura', 'Laura']

#### Index

La operación `index()` de la lista busca el elemento en la lista y devuelve el índice de ese elemento. Si el elemento no está presente en la lista, el método índice devuelve un valor de error que indica que el elemento no está en la lista. `index(<obj>[,index])`

In [ ]:
# Crear una nueva lista llamada name
name = ['Alberto', 'María']
name

['Alberto', 'María']

In [ ]:
# Después de indexar, escribe el elemento que quieres indexar.
name.index("María")
name

['Alberto', 'María']

In [ ]:
# Si el elemento no está presente, obtendrás un error
name.index("Juan")

ValueError: 'Juan' is not in list

#### Remove

El método `remove` de las listas busca el elemento y, al coincidir, elimina el elemento presente en la lista. También lanza un error cuando el elemento no está en la lista. `remove(<obj>)`

In [ ]:
# Crear una nueva lista llamada name
name = ['Alberto', 'María', 'Juan']
name

['Alberto', 'María', 'Juan']

In [ ]:
name.remove("María")
name

['Alberto', 'Juan']

Puedo eliminar tambien registros con el prefilo `del` especificando el indice de la lista.

In [ ]:
del name[0]
name

['Juan']

#### Sort

Como su nombre indica, el método ordenar ordena los elementos en orden ascendente. Este método no devuelve nada. `sort()`

In [ ]:
num = [1, 4, 5, 2, 3]
num

[1, 4, 5, 2, 3]

In [ ]:
num.sort()
num

[1, 2, 3, 4, 5]

¿Y si quieres imprimir la lista en orden descendente?
Debemos dar reverse=True como parámetro en el método sort.

In [ ]:
num.sort(reverse=True)
print(num)

[5, 4, 3, 2, 1]

#### Reverse

Como su nombre indica, el método ``reverse`` invierte toda la lista. Este método no devuelve nada. `reverse()`

In [ ]:
num = [1, 2, 3, 4, 5]
num

[1, 2, 3, 4, 5]

In [ ]:
num.reverse()
num

[5, 4, 3, 2, 1]

#### Pop

El método `pop` elimina y devuelve el elemento situado en el índice dado. Devuelve el elemento situado más a la derecha si se omite el índice (más o menos lo contrario que append()). `pop(index=-1)`

In [ ]:
num = [1, 2, 3, 4, 5]
num

[1, 2, 3, 4, 5]

In [ ]:
print(num.pop(1))
print(num)

2
[1, 3, 4, 5]

#### Copy

Devuelve una copia de la lista. Esto se puede hacer para realizar operaciones en la lista sin modificar la lista original.

In [ ]:
name = ["Alberto", "Juan", "María", "Alfonso"]
newname = name.copy()
name.remove("María")
print(name)
print(newname)

['Alberto', 'Juan', 'Alfonso']
['Alberto', 'Juan', 'María', 'Alfonso']

#### Slice

Slice la lista significa recortar los elementos de la lista, y también se puede utilizar para cambiar subpartes de la lista.

In [ ]:
char = ['a', 'b', 'c', 'd']
char[1:-1]

['b', 'c']

In [ ]:
char[0:2] = 'z'
char

['z', 'c', 'd']

## Convertir un string en una lista
---

Esta es la técnica más importante. A menudo, necesitamos convertir la cadena en una lista. Estamos utilizando el método split de las cadenas donde el método split simplemente divide los elementos de la cadena y luego los pasa en una lista como se muestra.

In [ ]:
string = "Esto es un ejemplo del curso de Python de Kschool"
string

'Esto es un ejemplo del curso de Python de Kschool'

In [ ]:
# Comprobación del tipo 
type(string)

str

In [ ]:
# Utiliza el método split para dividir la cadena en una lista.
palabras = list(string.split(" "))
print(palabras)
type(palabras)

['Esto', 'es', 'un', 'ejemplo', 'del', 'curso', 'de', 'Python', 'de', 'Kschool']

list

## Convertir una lista en una cadena (string)
---

A veces para expresar la salida de un array como un string, es necesario procesar una lista y agruparla por un separador. Para ello, se utiliza el método join (visto también en el Notebook **[Kshool NB003]Python_Variables**)

In [ ]:
nuevo_str = " ".join(palabras)
print(nuevo_str)
type(nuevo_str)

Esto es un ejemplo del curso de Python de Kschool

str

## List Comprehension
---

Las comprensiones de listas se utilizan para crear listas nuevas a partir de otros iterables como listas, tuplas, diccionarios, conjuntos, e incluso en matrices y cadenas.

Sintaxis:
- lista = `[`expresión(elemento) `for` elemento `in` iterable `if` condición`]`
- expresión: es el elemento que se itera.
- iterable: puede ser una lista, tuplas, diccionarios, conjuntos e incluso matrices y cadenas.
- condición: la condición comprueba si el elemento debe añadirse a la nueva lista o no.

1. acepta elementos con la letra "o" minúscula en la nueva lista

In [ ]:
nombres = ["Alberto", "Juan", "Bruno", "María", "Rosa"]
nombresCon_O = [elemento for elemento in nombres if "o" in elemento]
print(nombresCon_O)

['Alberto', 'Bruno', 'Rosa']

2. acepta elementos que tengan más de 4 letras

In [ ]:
nombres = ["Alberto", "Juan", "Bruno", "María", "Rosa"]
nombresCon_O = [elemento for elemento in nombres if (len(elemento) > 4)]
print(nombresCon_O)

['Alberto', 'Bruno', 'María']

#### **Notas importantes**

Cuando decimos que las tuplas son inmutables, muchos programadores de Python piensan que los valores dentro de una tupla no pueden cambiar. Pero esto no es cierto.

La inmutabilidad de una tupla se limita únicamente a la identidad de los objetos que contiene, no a su valor.

En otras palabras, supongamos que una tupla tiene dos objetos con ID 1 y 2. La inmutabilidad dice que esta colección de IDs (y su orden) no puede cambiar nunca.

Sin embargo, NO existe la restricción de que los objetos individuales con ID 1 y 2 no puedan modificarse.

Esto explica la siguiente demostración. Como 𝐚𝐩𝐩𝐞𝐧𝐝 es una operación inplace, los IDs referenciados dentro de la tupla no cambiaron. 
Por tanto, Python no genera ningún error.

Podemos verlo en el siguiente ejemplo.

In [ ]:
tupla = (1, [2,3])
print(tupla)

tupla[1].append(4)
print(tupla)

(1, [2, 3])
(1, [2, 3, 4])

<h1>¡¡¡Lets Code!!! </h1>
<img src="https://gifdb.com/images/thumbnail/pixel-art-super-mario-computer-amwdq1xi8bgz0omx.gif" alt="Challenge Accepted" style="width: 500px">

#### **Enunciado Ejercicio 1**::
Dada una lista de elementos, crea el codigo que chequé si esta lista de elementos está ordenada de forma ascendente devolviendo **True** o **False** si no lo está.

#### **Enunciado Ejercicio 2**::
Comprueba todos los elementos de una lista y devuelve solo aquellos que sean pares.

**lista_elementos** = [0,1,1,2,3,2,5,6]

#### **Enunciado Ejercicio 3**::
Escribe un prompt que tome un número entero n como argumento y utilice list comprehension para crear una lista con los cuadrados de los números del 1 al n, inclusive.